*{
    margin: 0;
    padding: 0  ;
    font-family: 'Aoboshi One', serif;
}
body{
    align-items: center;
    justify-content: end;
    background-color: #FAFAFA;
    font-family: 'Aoboshi One', serif;
}
.wrapper a{
    text-align: end;
    justify-content: space-between;
    text-decoration: none;
    color: #333;
    padding: 15px;
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 1px;
}
nav{
    display: flex;
    align-items: center;
}
.wrapper h3{
    padding-right: 500px;
    font-family: Montserrat;
    margin-left: 150px;
    font-size: 24px;
    margin-top: 20px;
    letter-spacing: 0.5;
}
.box{
    background-color: white;
    width: 400px;
    height: 531px;
    margin: 45px 20px;
    border-radius: 20px;
    position: absolute;
}
.login{
    font-size: 20px;
    font-weight: 600;
    color:#FF790D;
    padding: 20px 170px;
}
.box input{
    margin: 50px 60px ;
    width: 255px;
    height: 37px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
.box .text a{
    padding-left: 200px;
}
a:hover{
    text-decoration: underline;
    color: blue;
}
.box .button{
    margin-left: 100px;
    margin-top: 30px;
}
.box .btn{
    width: 150px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #FF790D;
    color: white;
}
.box p {
    margin-top: 20px;
    margin-left: 90px;
}

.box2{
    background-image: url(image\ 3.png);
    width: 742px;
    height: 420px;
    margin-left: 500px;
    margin-top: 100px;
}

