*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .2s linear;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    background-color: #fafafa;
}
header{
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
h3{
    font-size: 24px;
    color: #4D4D4D;
}
header .navbar a{
    font-size: 14px;
    color: #4D4D4D;
    padding: 1rem;
}
header .navbar a:hover{
    color: red;
    text-decoration: underline overline;
}
.box{
    background-color: white;
    width: 1262px;
    height: 890px;
    position: absolute;
    top: 112px;
    left: 60px;
    overflow-x: hidden;
    border-radius: 10px;
}
.box h3{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    word-spacing: 1px;
    color: #FF790D;
    transition: .2s linear;
}
.box h3:hover{
    color: red;
}
.text{
    font-size: 15px;
    margin-left: 80px;
    margin-top: 40px;
    color: #4D4D4D;
}
.text2{
    font-size: 15px;
    margin-left: 95px;
    margin-top: 30px;
    color: #4D4D4D;
}
.box .radio{
    margin-left: 100px;
    margin-top: 30px;
    accent-color: red;
    position: absolute;
}
.text3{
    margin-top: 27px;
    margin-left: 120px;
    font-size: 14px;position: absolute;
    color: #4D4D4D;
}
.text4{
    margin-top: 27px;
    margin-left: 290px;
    font-size: 14px;
    color: #4D4D4D;
    position: absolute;
}
.box .radio2{
    margin-left: 270px;
    margin-top: 30px;
    accent-color: red;
    position: absolute;
}
.text5{
    margin-left: 66rem;
    font-size: 14px;
}
.box .btn{
    border: 1px solid #565656;
    outline: none;
    background-color: #cdcdcd;
    width: 300px;
}
.box .btn::placeholder{
    font-size: 10px;
}
.box4{
    width: 296px;
    height: 164px;
    background-color: white;
    box-shadow: 0 0px 8px rgba(0, 0, 0, .1);
    margin-left: 39px;
    position: absolute;
}
.account{
    padding-top: 20px;
    margin-left: 10px;
}
.text6{
    margin-left:10px;
    padding-top: 15px;
    margin-top: 20px;
    line-height: 1px;
}
.wrapper input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 90px;
    padding-bottom: 5px;
    padding-right: 150px;
    margin-top: 100px;
}
.wrapper input::placeholder{
    padding-left: 10px;
}
.wrapper2 input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 110px;
    padding-bottom: 5px;
    padding-right: 150px;
    margin-top: 40px;
    position: absolute;
}
.wrapper3 input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 110px;
    padding-bottom: 5px;
    padding-right: 150px;
    margin-top: 100px;
    position: absolute;
}
.wrapper4 input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 510px;
    padding-bottom: 5px;
    padding-right: 150px;
    margin-top: 100px;
    position: absolute;
}
.wrapper5 input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 110px;
    padding-bottom: 5px;
    padding-right: 150px;
    margin-top: 150px;
    position: absolute;
}
.wrapper6 input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 510px;
    padding-bottom: 5px;
    padding-right: 150px;
    margin-top: 150px;
    position: absolute;
}
.wrapper7 input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 110px;
    padding-bottom: 5px;
    padding-right: 550px;
    margin-top: 210px;
    position: absolute;
}
.wrapper8 input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 110px;
    padding-bottom: 5px;
    padding-right: 150px;
    margin-top: 270px;
    position: absolute;
}
.wrapper9 input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 510px;
    padding-bottom: 5px;
    padding-right: 150px;
    margin-top: 270px;
    position: absolute;
}
.wrapper10 input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 110px;
    padding-bottom: 5px;
    padding-right: 150px;
    margin-top: 330px;
    position: absolute;
}
.wrapper11 input {
    border-top:none ;
    border-left:none ;
    border-right: none;
    outline: none;
    margin-left: 510px;
    padding-bottom: 5px;
    padding-right: 150px;
    margin-top: 330px;
    position: absolute;
}
.box button{
    position: absolute;
    width: 200px;
    margin-top: 400px;
    margin-left: 370px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #FF790D;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
}
.register-link p a{
    color: #FF790D;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
}
.register-link p{
    margin-top: 480px;
    margin-left: 380px;
}
.register-link p a:hover{
    text-decoration: underline ;
    font-weight: 600;
}
.register-link a{
    margin-left: 30px;
}
.box100{
    background-color: white;
    width: 1360px;
    height: 338px;
    margin-top: 1000px;
    display: flex;
}
.text10{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 150px;
    margin-top: 70px;
}
.text11{
    margin-left: 150px;
    margin-top: 20px;
}
.icons i{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 150px;
}
.icons a{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 30px;
}
.icons p{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 30px;
}
.text12{
    margin-top: 20px;
    margin-left: 150px;
}
.text12 p{
    padding-bottom:20px ;
}
.box15{
    color: #737373;
}